/*contains styles such as CSS reset roles, global box-sizing rules, and CSS normalising ruless*/
body{
  font-family: "Montserrat";
}

.justify_between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.justify_center{

  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiAppBar-root {
  &.appbar__style {
    background-color: $white;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
  }
}

.menu {
  li {
    color: $lightdark;
    @include contentText();
    text-transform: capitalize;
    margin-right: $spacing-xs;
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;

    a {
      text-decoration: none;
      all: unset;
      padding-left: 8px;
    }
    
      .text__color {
        color: $error;
      }
    
  }
}

.MuiTypography-root {
  &.typography__overwrite {
    @include h3Text();
  }
}

.profile_info {
  .MuiInputBase-root .MuiInput-root:hover:not(.Mui-disabled)::before {
    border: none;
  }

  .MuiInput-root {
    font-family: "Ubuntu";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    &::after,
    &::before {
      border: none;
    }
  }

  label {
    font-family: "Ubuntu";
    font-size: 13px;
    font-weight: normal;

    &.Mui-focused {
      color: $lightdark !important;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .appbar__style {
    .toolbar {
      .menu {
        display: none;
      }
    }
  }
  
  .modal_content{
    .MuiBackdrop-root{
      background: $white;
      box-shadow: none;
      transform: translate(0%, 10%),

    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .appbar__style {
    .toolbar {
      .menu {
        display: none;
      }
    }

  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .appbar__style {
    .toolbar {
      .menu {
        display: flex;
      }
    }
  }
}
