/* contains global variables like colors,  font sizes, padding*/
/* Colors */
$white: #ffffff;
$black: #000000;
$dark: #4f4f4f;
$lightdark: #828282;
$grey: #bdbdbd;
$lightgrey: #e0e0e0;
$greyfaded: #e0e0e0;
$primary: #bc8cd2;
$primarylight: #d3b9df;
$primaryfaded: #ece1f1;
$warning: #f4bd50;
$error: #f45050;

/*Spacing */
$spacing-xl: 120px;
$spacing-l: 80px;
$spacing-m: 50px;
$spacing-s: 30px;
$spacing-xs: 16px;
$spacing-x: 8px;

/*font sizes*/
$title: 44pt;
$h1: 32pt;
$h2: 24pt;
$h3: 18pt;
$subheadline: 16pt;
$content: 14pt;
$caption: 12pt;
